extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Experts in Air Distribution System Sanitation"
  - var mainText1 = "Air systems affect the overall air quality and costs of your business. If you and your customers are breathing in the unclean air than you are risking long-term health effects and of course a loss of business as a result of this."
  - var mainText2 = "If you would like to know more about our services and prices for air distribution system sanitation, then you need to call us today. Countless businesses like yours have already done so."

  - var ourService1 = "Air Distribution System Inspection"
  - var ourService2 = "Air Distribution System Sanitation"
  - var ourService3 = "Air Distribution System Installation"

  - var leftClass = "adsss"
  
  - var ourText1 = "Your air distribution system is one of the most important parts of your business. When customers feel sleepy or depressed or exhausted inside of an establishment, it can ruin their entire day and your business, so we do a thorough inspection to ensure that it is functioning and working well."
  - var ourText2 = "Every year you should have thorough sanitation of your air distribution system. This involves vacuuming and removing all pollen, debris, dirt, and other particles. Scrubbing with a sanitizing solution and drying the system out."
  - var ourText3 = "Finally, if you don't have an air distribution system or you need an extension of the system installed, you need to call us right away. Ductwork can be redone quickly and easily when you give us ample time, and we have competitive prices with industry discounts."
