extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need Air Rotation Units?"
  - var mainText1 = "Most people will simply call them fans, but the fact is that multiple air rotation units on the market certainly stretch the definition. Anything from fans and louvers can be easily installed through our services."
  - var mainText2 = "We are the leading provider of commercial air rotation units in your area and have been working with businesses just like yours for several years, so call us today!"

  - var ourService1 = "Air Rotation Unit Inspection"
  - var ourService2 = "Air Rotation Unit Repair"
  - var ourService3 = "Air Rotation Unit Installation"

  - var leftClass = "aru"
  
  - var ourText1 = "If you have an existing air rotation unit, then chances are it will be in need of inspection. We can check all the various parts that can typically be broken. The electrical lines, the motor, the individual blades can be damaged or caked in dust and move less efficiently."
  - var ourText2 = "Each part can be fixed and additionally we clean and wipe down the unit in the process of the repairs. This ensures that buildup of dust and debris is not the problem and is resolves regardless."
  - var ourText3 = "If the damage is too extensive to repair than we can quote you on individual unit installation or comprehensive system installations. We can help you get on the leading edge of air rotation units for your business."
