extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Need Chillers or Cooling Towers Installed?"
  - var mainText1 = "Chillers and chilling towers are invaluable in the storing and selling of multiple frozen products over the course of weeks to months. If you are looking for a long-term investment in your products and managing your sales, then you are going to need chillers and cooling towers."
  - var mainText2 = "However, owning, operating, and maintaining these devices are easier said than done. You need to have a competent business working with you to have all of these devices running seamlessly."

  - var ourService1 = "Chiller Inspection"
  - var ourService2 = "Chiller Repair"
  - var ourService3 = "Chiller Installation"

  - var leftClass = "cct"
  
  - var ourText1 = "If you already own a chiller and are reporting problems for it, we can do a comprehensive inspection of it easily. The common problems that happen with a chiller are leaking condensation, the refrigerant being low or leaking and electrical shortages."
  - var ourText2 = "Once the inspection is complete, we can begin to fix the chiller. The chiller will have any of the following problems listed above, and they can be as simple as refilling the refrigerant or switching out the electrical wiring."
  - var ourText3 = "But if there is a fatal problem with the chiller or if you are looking to get a chiller freshly installed, it's a different service all it's own. First, we need to inspect the area to ensure it is ready for usage and from there we will work to install it quickly and test to ensure all the wires and tubes work perfectly."
