extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Does Your Business Need Commercial Refrigeration?"
  - var mainText1 = "Are you working in a business that would need commercial refrigeration? Commercial refrigeration services are incredibly important for anything from grocery stores to restaurants. If you're looking to upgrade or improve the quality of your refrigeration, give us a call today."
  - var mainText2 = "We have worked with countless businesses and residences alike with the fixing and upgrading of their refrigerators."

  - var ourService1 = "Refrigerator Inspection"
  - var ourService2 = "Refrigerator Repair"
  - var ourService3 = "Refrigerator Installation"

  - var leftClass = "cr"
  
  - var ourText1 = "If you are already in possession of a refrigerator, it's time for us to give it a look. Problems that can occur with refrigerators can range from blocked or gunked up vents, poor refrigerant levels, bad electrical connections or simply too many things inside the system."
  - var ourText2 = "When we have isolated and itemized the problems with your refrigerator, we will then produce a written quote for our services. Once we agree on the terms of the business, we can get to work on fixing your commercial refrigerator. This will always come with cleaning and clearing of the vents and a test to ensure higher output quality."
  - var ourText3 = "But if you don't have a refrigerator or are looking to invest in a superior unit, we are the people to call. We can inspect your area and determine the amount of energy output required and install the new refrigerator in no time at all."
