extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Get Help With Your Commercial Kitchen Ventilation"
  - var mainText1 = "Proper ventilation in the kitchen is an absolute must. It's great for keeping flavor aromas separate, it's great for fire and smoke control in a building, and it is a complete necessity for any restaurant."
  - var mainText2 = "When you are looking for a business that can work closely with your needs as a restaurant owner and work discreetly and quickly, you know we can fix any problem you'll need."

  - var ourService1 = "Commercial Kitchen Inspection"
  - var ourService2 = "Commercial Kitchen Repair"
  - var ourService3 = "Commercial Kitchen Installation"

  - var leftClass = "ckv"
  
  - var ourText1 = "If you are noticing that there are problems with the ventilation in your kitchen, call us today. Often it can have something to do with the fans, the motor, or the ductwork itself. Often these can be fixed with a simple cleaning and thorough electrical tune-up for the motor."
  - var ourText2 = "However, sometimes the problem is not so easy. If there is an obstruction that goes unattended for too long, it can lead to a breach. Something can poke through and damage the ductwork, requiring our immediate and direct repair services."
  - var ourText3 = "If you are currently a cook with the windows open type of restaurant, you might be interested in our commercial kitchen installation services. We can install a comprehensive ductwork and ventilation system that will completely change the effectiveness of your kitchen in no time at all."
