extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Need Assistance With Your Energy Management Controls?"
  - var mainText1 = "Businesses like yours have multiple costs that are necessary for operation, but if you're not careful, you can be bled dry by energy expenses you're not even knowing you can better manage. With energy management and recovery controls, you can better mitigate when devices turn on and how much usage they are allowed to have on an hourly basis."
  - var mainText2 = "We are experts in the installation of these products and would love to help you out with these services."

  - var ourService1 = "Energy Management Inspection"
  - var ourService2 = "Energy Management Repair"
  - var ourService3 = "Energy Management Installation"

  - var leftClass = "em"
  
  - var ourText1 = "If you already have an energy management system, the good news is that these are among the easiest devices regarding having an inspection. Since the system involves several relays and switches, it results in a comprehensive electrical checkup to ensure working order."
  - var ourText2 = "While the inspection may be easy, the repair can be a little time-consuming. We systematically move through each line and fix any frays or disruptions in ohm output."
  - var ourText3 = "If you don't have an energy management system installed, we can gladly do that for you. The setup time doesn't take long, and when everything is finished, we will take the time to go over how it works and how you can get the most out of your system."
