extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need Ground Source Heat Pumps?"
  - var mainText1 = "Heat pumps are incredibly important for ensuring you manage your temperature, as well as you, need to when it's best for you. However, having a ground source heat pump removes the need to have a boiler on site and makes it easier for you to manage your hot water. But you will need professional services for this system."
  - var mainText2 = "With our services, we can help you siphon hot water from safely outside into your business with no extra work involved!"

  - var ourService1 = "Heat Pump Inspection"
  - var ourService2 = "Heat Pump Repair"
  - var ourService3 = "Heat Pump Installation"

  - var leftClass = "gshp"
  
  - var ourText1 = "If you currently have a ground source heat pump that is giving you problems, we can give it a quick inspection in no time at all. Simply give us a call, and we can investigate the common problems and produce a written quote for you on the spot."
  - var ourText2 = "If you need to have your ground source heat pump repaired, we are the people to call for this service. Any of the common problems from electrical shortage to piping errors can be fixed with a thorough inspection."
  - var ourText3 = "If you are looking for heat pump installation, call us for a specialty inspection. We need to work closely with contractors to ensure that your ground source heat pump is up to the city code and will also produce the output you desire."
