extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need Hot Water and Steam Boilers?"
  - var mainText1 = "Temperature control is a vital and necessary step for many businesses. Having boilers in your building ensures there will be hot water present at any given moment. This is incredibly important because anyone trying to wash their hands or clean food will need hot water to do so."
  - var mainText2 = "If you are having a problem with your boiler or simply don't have one, give us a call today, and we can hook you up in no time."

  - var ourService1 = "Boiler Inspection"
  - var ourService2 = "Boiler Repair"
  - var ourService3 = "Boiler Installation"

  - var leftClass = "hwsb"
  
  - var ourText1 = "The boiler is one of the most commonly serviced items in our business. We have worked with countless boilers, and during an inspection, there are numerous problems that can occur. Shortages, leaks, pump tears, explosions, you name it, the boiler can have it go wrong."
  - var ourText2 = "After we have done a comprehensive and thorough inspection of the boiler, we will create a written quote and consultation for you. From there we can either repair the problems with relative ease, or you can have us install a new system overall."
  - var ourText3 = "We offer all types of boiler installations for a business. If you want to upgrade to a tankless or all electrical system, be sure to let us know. There are updates to the technology, and some of the boiler systems we have worked with have been older than 20 years."
