extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need a Humidity Control Solution?"
  - var mainText1 = "Humidity controls are a valuable asset for multiple businesses. Humidity controlling is viable for businesses ranging from clothing stores to wine stores and restaurants. But if you have one and need help maintaining it then you will need a professional business like ours to help you out."
  - var mainText2 = "Humidity controls are as much as part of an HVAC and air conditioning system as an engineering business. If you are looking to upgrading the effectiveness of your building, make sure to call us today."

  - var ourService1 = "Humidity Control Inspection"
  - var ourService2 = "Humidity Control Repair"
  - var ourService3 = "Humidity Control Installation"

  - var leftClass = "hc"
  
  - var ourText1 = "Humidity control systems that already exist have a multitude of moving and working parts that need regular inspection. If you are reporting problems with either of these devices, then you are looking at the possibility of malfunctioning or lower output of work overall."
  - var ourText2 = "Once we have identified the problem that exists with your current humidity control system, we can then produce a written quote and present our businesses solutions. After that, we can go in and fix these problems with relative ease."
  - var ourText3 = "However, if you don't have a humidity control system or would like to receive a new one, we are the people to talk to. We can do a thorough inspection of your business and determine which one of these control systems would work best for your business, order the part, and install the system for you all in one go."
