extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need Assistance With Your Ice Equipment?"
  - var mainText1 = "Ice machines and ice equipment are becoming more popular every day. But they are already immensely valuable to anything from grocery stores to hospitals. If you are thinking about getting ice machines or other ice equipment, give us a call today."
  - var mainText2 = "We have worked with numerous businesses in the area from refrigeration needs to boiler systems. Ice equipment is right up our alley, and we can get you some of the best services in the area."

  - var ourService1 = "Ice Equipment Inspection"
  - var ourService2 = "Ice Equipment Repair"
  - var ourService3 = "Ice Equipment Installation"

  - var leftClass = "ie"
  
  - var ourText1 = "Ice equipment can be some of the most difficult services to perform. Between leaks and refrigerant to bacterial build up and line breaches. If there is a problem with your ice unit, we will be able to sort it out and fix it in no time at all."
  - var ourText2 = "Once we have a distinctive list of all the ice equipment on the premises, we can begin to fix the device. You will receive a written quote in case you wish to shop around, but you will also have a discount on parts when you work with us."
  - var ourText3 = "If you are tired of buying ice from the grocery store down the street and would like to upgrade your ice equipment, then give us a call, and we can do that for you in no time at all."
