extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need an Indoor Air Quality Engineer?"
  - var mainText1 = "Are you noticing a difference in your air quality? Chances are if you can notice it, so will your regular customers. If you want to make sure to look after the best interests of your business and your customers, then you would hire an indoor air quality engineer to fix this problem."
  - var mainText2 = "We are the leading providers of air quality services in your area and have worked with multiple businesses to improve their situation. Give us a call today and let's get to work on your business."

  - var ourService1 = "Air Quality Inspection"
  - var ourService2 = "Air Quality Repair"
  - var ourService3 = "Air Quality Device Installation"

  - var leftClass = "iaqe"
  
  - var ourText1 = "Your air quality should have a noticeable and clean feeling to it. When performing an air quality inspection, we will inspect each room and the ductwork for each to try and identify the problem with the air quality."
  - var ourText2 = "Often these services can range from mold and mildew removal to a comprehensive reworking of your current air conditioning unit. Once we have produced a written quote, we can begin to work on the problems promptly."
  - var ourText3 = "There are multiple devices you can have installed to improve the air quality. From humidifiers and dehumidifiers to purifiers and new filters. We can fix, upgrade, and install any device you see fit, be sure to mention your interest to us during the quote."
