extends ../_serviceBase

block variables
  - var industryType = "commercial"

  - var mainServicesH3 = "Do You Need Product Area Ventilation?"
  - var mainText1 = "Product area ventilation is an important way to guarantee freshness and quality control over the things that operate and run your business at full force. With proper product area ventilation, you can better ensure that the products your selling will ensure customer satisfaction and reduce your return and refund rate."
  - var mainText2 = "With our company, we work with ductworks and HVAC systems all the time. Product area ventilation is a walk in the park service for us, and we are at the forefront of expertise in this field. So if you want the best, be sure to call us today."

  - var ourService1 = "Product Area Inspection"
  - var ourService2 = "Product Area Repair"
  - var ourService3 = "Product Area Installation"

  - var leftClass = "pav"
  
  - var ourText1 = "Product Area Ventilation is incredibly important for maintenance services. If you have a product area that isn't properly being ventilated, then you are risking having low-quality control or disrupting the effectiveness of your ventilated area."
  - var ourText2 = "Coming with a comprehensive cleaning, we are ready and willing to fix any problems that can arise from your product area ventilation. Blade replacement, motor repair, ductwork replacement and more are not far fetched for businesses such as yours."
  - var ourText3 = "If you don't have product area ventilation installed and you are selling anything that needs humidity control, call us. We offer comprehensive product area installation and can have everything you need up and running in no time at all. We simply need to know the dimensions of your building and the nature of the products."
