extends base

block content
  .projects-header
    .w-container(data-w-id="4a653344-e2e6-e88e-b7fd-52b1c35c106f" style="opacity:0")
      h2 Projects
      .text-block-2
        | Here’s a sample of some of our recent projects. Inspired by what you see? 
        br
        | It’s only the beginning!
      a#call-fixed.primary-orange-button.w-inline-block(data-inject="phone" href=`tel:${data.phoneNumber}`)
        .text-block Call #{data.phoneNumber}
  section.projects-section
    .lightbox-wrapper(data-w-id="302220c0-6257-f734-ba58-a5be834f5ef8" style="opacity:0")
      a.lightbox-link.w-inline-block.w-lightbox(href="#" data-w-id="ce2d6aeb-be4d-1ded-e0fd-57c56dc2ba21")
        .project-content(data-w-id="256fab58-c289-ff13-8c68-188b17d030ae")
          .project-name Project Name
          div Short project description
        script.w-json(type="application/json").
          {
          "items": [
          {
          "type": "image",
          "_id": "5e4498db42075130629b9474",
          "fileName": "5e4498db42075130629b9474_architecture_garden_design.png",
          "origFileName": "architecture_garden_design.png",
          "width": 1766,
          "height": 1177,
          "fileSize": 4083733,
          "url": "/landscaping/images/architecture_garden_design.png"
          }
          ],
          "group": "Projects"
          }
    .lightbox-wrapper(data-w-id="f6e970f0-0f2e-78a0-96eb-db5acde9db1d" style="opacity:0")
      a.lightbox-link._2.w-inline-block.w-lightbox(href="#" data-w-id="f6e970f0-0f2e-78a0-96eb-db5acde9db1e")
        .project-content(data-w-id="f6e970f0-0f2e-78a0-96eb-db5acde9db1f")
          .project-name Project Name
          div Short project description
        script.w-json(type="application/json").
          {
          "items": [
          {
          "type": "image",
          "_id": "5e4505ea96f23e5644f5867f",
          "fileName": "bench.png",
          "origFileName": "bench.png",
          "width": 1280,
          "height": 853,
          "fileSize": 2018093,
          "url": "/landscaping/images/bench.png"
          }
          ],
          "group": "Projects"
          }
    .lightbox-wrapper(data-w-id="357769e0-37e0-6b2b-5080-9d4a7513601c" style="opacity:0")
      a.lightbox-link._3.w-inline-block.w-lightbox(href="#" data-w-id="357769e0-37e0-6b2b-5080-9d4a7513601d")
        .project-content(data-w-id="357769e0-37e0-6b2b-5080-9d4a7513601e")
          .project-name Project Name
          div Short project description
        script.w-json(type="application/json").
          {
          "items": [
          {
          "type": "image",
          "_id": "5e45879bdbdb695ea1569225",
          "fileName": "purple flowers.png",
          "origFileName": "purple flowers.png",
          "width": 1280,
          "height": 960,
          "fileSize": 2084007,
          "url": "/landscaping/images/purple-flowers.png"
          }
          ],
          "group": "Projects"
          }
    .lightbox-wrapper(data-w-id="f6094dd3-3f8f-2169-f7b3-1e67e583857f" style="opacity:0")
      a.lightbox-link._4.w-inline-block.w-lightbox(href="#" data-w-id="f6094dd3-3f8f-2169-f7b3-1e67e5838580")
        .project-content(data-w-id="f6094dd3-3f8f-2169-f7b3-1e67e5838581")
          .project-name Project Name
          div Short project description
        script.w-json(type="application/json").
          {
          "items": [
          {
          "type": "image",
          "_id": "5e458c4dbd1736c30dba46a3",
          "fileName": "5e458c4dbd1736c30dba46a3_bench in front of grass wal.png",
          "origFileName": "bench in front of grass wal.png",
          "width": 1280,
          "height": 699,
          "fileSize": 2088088,
          "url": "/landscaping/images/bench-in-front-of-grass-wal.png"
          }
          ],
          "group": "Projects"
          }
    .lightbox-wrapper(data-w-id="4ae5ebfe-c8dc-a8c3-2d74-d45a601a867d" style="opacity:0")
      a.lightbox-link._5.w-inline-block.w-lightbox(href="#" data-w-id="4ae5ebfe-c8dc-a8c3-2d74-d45a601a867e")
        .project-content(data-w-id="4ae5ebfe-c8dc-a8c3-2d74-d45a601a867f")
          .project-name Project Name
          div Short project description
        script.w-json(type="application/json").
          {
          "items": [
          {
          "type": "image",
          "_id": "5e4590f84b61a614859c6966",
          "fileName": "big house.png",
          "origFileName": "big house.png",
          "width": 1280,
          "height": 853,
          "fileSize": 1706333,
          "url": "/landscaping/images/big-house.png"
          }
          ],
          "group": "Projects"
          }
    .lightbox-wrapper(data-w-id="c9161958-da4c-7a67-f64f-cdcf808fd370" style="opacity:0")
      a.lightbox-link._6.w-inline-block.w-lightbox(href="#" data-w-id="c9161958-da4c-7a67-f64f-cdcf808fd371")
        .project-content(data-w-id="c9161958-da4c-7a67-f64f-cdcf808fd372")
          .project-name Project Name
          div Short project description
        script.w-json(type="application/json").
          {
          "items": [
          {
          "type": "image",
          "_id": "5e459306412bea3c80ca9c1d",
          "fileName": "5e459306412bea3c80ca9c1d_inside garden.png",
          "origFileName": "inside garden.png",
          "width": 1280,
          "height": 853,
          "fileSize": 2049100,
          "url": "/landscaping/images/inside-garden.png"
          }
          ],
          "group": "Projects"
          }
  .take-care-section
    .vertical-flex-centered-container.w-container(data-w-id="5fbbbf51-f8a8-396a-5ec9-b29e7e4eea83" style="opacity:0")
      .orange-hr(data-w-id="bc8127a2-d288-9fb2-0be3-15cd86853b8a" style="opacity:0")
      h3.heading-3-custom Let us take care of your garden!
      .orange
        div
          | Call us at 
          a.orange.inline-bold(href=`tel:${data.phoneNumber}` data-inject="phone")
            span #{data.phoneNumber}
          |  or contact us for your free quote.