extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Air Conditioning Installation?"
  - var mainText1 = "If you are in the market for a new air conditioner, then you should call the professionals who know everything about your HVAC units. We have been working in your area for several years and have the foremost experts when it comes to the ideal air conditioner for your lifestyle."
  - var mainText2 = "There are countless types in between space heaters/air conditioners to HVAC units across the board. Call us today, and we can begin the consultation for the best model for your needs."
  
  - var ourService1 = "Air Conditioning Consultation"
  - var ourService2 = "Air Conditioning Replacement"
  - var ourService3 = "Air Conditioning Maintenance"

  - var leftClass = "aci"
  
  - var ourText1 = "The first thing we would do is look at your entire property and determine which parts you frequent the most. If you own a 4/4 house and use every room consistently, then chances are you will need an HVAC system. But if you are living in a smaller area, then often a space air conditioner will work."
  - var ourText2 = "Next, we will work on handling the heavy work. Don't worry about getting rid of or uninstalling your air conditioner. We will bring your new unit in and take the old one out as we finish installing your air conditioner, just call us today!"
  - var ourText3 = "Finally, why risk having your new air conditioner break prematurely when you can simply have our maintenance program take care of you and your new toy!"
