extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Professional AC Repair?"
  - var mainText1 = "Are you running into problems with your air conditioner? Does it ever feel like it is simply not becoming cold enough or your noticed your electrical bill has been consistently higher than normal? It's time you called a professional HVAC and air conditioning company!"
  - var mainText2 = "We have been working in your area for a few years now and in that time have helped countless businesses and residences with their AC units. Between repairs, replacements and installations, we are properly equipped to deal with any of your problems."
  
  - var ourService1 = "AC Inspection"
  - var ourService2 = "AC Repair"
  - var ourService3 = "AC Replacement"
  
  - var ourText1 = "An Air conditioner has different parts and places where it can break down. To properly and quickly service your unit, we will inspect all the parts and determine the problem."
  - var ourText2 = "Once we&#x27;ve quoted you on the problem and consulted you on how to best go about treating the problem, we can begin our work. This can be anything from a simple pump replacement, to a comprehensive rewiring of your unit."
  - var ourText3 = "Finally, if you are looking for AC replacement, we are the people to call. Sometimes there is a problem with the AC that extends far beyond the everyday usage, and the old unit will have to go. Give us a call, and we can install the new unit for you with the purchase of your new unit."
