extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Help With Your Blower Door?"
  - var mainText1 = "If you are the proud owner of a dock, deck, or patio, you will need the services of a professional painter at one point or another. During our time as painters, we have helped countless decks and docks with their painting and waterproofing. It is the surest way to ensure the long-term sustainability against weather and water damage."
  
  - var ourService1 = "Blower Door Inspection"
  - var ourService2 = "Blower Door Repair"
  - var ourService3 = "Blower Door Replacement"

  - var leftClass = "bdt"
  
  - var ourText1 = "A comprehensive inspection will need to be done before we can determine the work. If the problem is isolated to the blower door than it's simple enough, but often the door can lead to other problems in the system if left unattended."
  - var ourText2 = "From there we will sit down and have a quote and consultation and determine our next best steps. We can go through and replace some of the small working parts of the blower door, or we can take it to the next level."
  - var ourText3 = "Some newer blower doors can make all the difference in your HVAC and heating system. If you would like to know more, be sure to give us a call."
