extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Professional Boiler Services?"
  - var mainText1 = "Having a water boiler that functions is a necessary part of life for many Americans, the concept that you won't be able to have hot running water is something that will send shivers down people's spines, especially if they are already using the shower without one. This is where you call us and our professional boiler services."
  - var mainText2 = "We are an experienced team of HVAC professionals who have extensive experience working with water boilers and running water lines through a house, call us today if you want to hear more about our specialty pricing."

  - var ourService1 = "Boiler Inspection"
  - var ourService2 = "Boiler Repair"
  - var ourService3 = "Boiler Replacement"

  - var leftClass = "boilers"
  
  - var ourText1 = "The most significant step that needs to be taken is a thorough boiler inspection. Sometimes if you are experiencing problems with the boiler, it could be anything from a shorted fused to a busted line somewhere in the house, we won't know the answer until we inspect it."
  - var ourText2 = "Once we have identified and isolated the problem, then we are capable of fixing and resolving the problem. Anything from short fuses, wiring errors, and what not are common ways to avoid having a malfunctioning boiler."
  - var ourText3 = "Finally, some problems simply cannot be fixed. If your boiler is too old or too inefficient to work in the environment you are commanding of it, then you are going to need a boiler replaced, and we are the company to do it. We can quote you on the price of the boiler and the cost of the installation, just give us a call today."
