extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Central Air Services?"
  - var mainText1 = "Have you recently upgraded to a central air system and don't know what to do? This is extremely common for people who have recently acquired or upgraded to the new system. If you're accustomed to space heaters and air conditioners, there might be a whole mess of problems you aren't used to, so you'll need an HVAC company you can trust to fix all the problems."
  - var mainText2 = "Luckily for you, we are that very HVAC company. Our team of expert technicians has been working in your area for several years and in that time have helped houses and businesses alike with their HVAC systems, just give us a call and let's talk about your unit."

  - var ourService1 = "Central Air Inspection"
  - var ourService2 = "Central Air Repair"
  - var ourService3 = "Central Air Replacement"

  - var leftClass = "ca"
  
  - var ourText1 = "The biggest difference between central airs and their space heater companions is the prevalence of both ductwork and external units. More moving pieces can break down, and with our help, we can correctly identify any if not all the problems that can be plaguing your system."
  - var ourText2 = "Anything from leaks of refrigerants to wire shortages can be the difference between you and the sweet relief of a functioning central air unit. We are certified and capable of fixing all of these problems."
  - var ourText3 = "Finally, there will come a time when you will need to replace your unit. When that happens, be sure to give us a call for combo prices when you purchase the unit from us and have us install it for you."
