extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Professional Dehumidification Services?"
  - var mainText1 = "In many climates across the country, there is a problem with excess humidity. Proximity to a body of water can practically guarantee there will be an excess of humidity in your home. This can lead to the production of fungus, and other mildews and molds that can affect your quality of life."
  - var mainText2 = "If you are looking for a company that can install, repair, and monitor the effectiveness of your dehumidifier then look no further. We have been operating in your area for several years and have extensive experience with humidifiers and dehumidifiers alike."

  - var ourService1 = "Dehumidifier Inspection"
  - var ourService2 = "Dehumidifier Repair"
  - var ourService3 = "Dehumidifier Replacement"

  - var leftClass = "dehumidify"
  
  - var ourText1 = "The first thing that needs to happen is an inspection. Often what will happen with dehumidifiers is that they will simply need to be drained or cleaned. When they are taking in that much air and dirt and debris, then they will naturally become clogged or full."
  - var ourText2 = "But if the cleaning won't do then we need to inspect the individual parts. IF we find any of the pumps or filters have been broken, we can order replacement parts and fix your unit in no time at all."
  - var ourText3 = "Finally, if your dehumidifier has just had enough of fighting the good fight, then it's time to say good bye and get a new unit installed. We can help find the best unit for you as well as replacing it and installing it in your home."
