extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Professional Duct Cleaning?"
  - var mainText1 = "Do you have dirty ducts or suspect you do? When you look at the duct above you, do you see elements of dust and debris gently moving in the wind? Then you need professional duct cleaning services from our company."
  - var mainText2 = "We have been offering our extensive HVAC system repairs and services for several years, and that includes duct cleaning. If you are looking for a duct cleaner that is thorough and ready to do the best job in the industry, give us a call."

  - var ourService1 = "Duct Inspections"
  - var ourService2 = "Duct Cleaning"
  - var ourService3 = "Duct Repair"

  - var leftClass = "dc"
  
  - var ourText1 = "Just because the air quality is bad in one room, doesn't mean you need a complete duct cleaning of your entire system. We can save you a lot of time and money by identifying and isolating the problem in your home without cleaning the whole thing and asking question later."
  - var ourText2 = "Next, we will begin cleaning the ducts. The first step involves scraping off any debris or materials that have clung to the sides of the wall. From there we will scrub with a hot solution to clear out all of the possible bacteria and fungus that might begin to grow, before finishing it off with a buff and polish."
  - var ourText3 = "Finally, if there is a breach or a gap in the duct systems, then you can risk having pests and other larger foreign objects in the ductwork. Call us today if you suspect that is the case."
