extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Looking for Help With Your Furnace?"
  - var mainText1 = "Furnace's may be some of the oldest items that are keeping the house functional, but they have been modernized quite a bit in the last few years. Whether you have an all-electric furnace or a woodburning furnace, there are some serious updates you will need to do to keep the furnace functioning; this is where we come in."
  - var mainText2 = "We have been working with furnaces and other HVAC units for several years and would love to help you with your furnace services."

  - var ourService1 = "Furnace Inspection"
  - var ourService2 = "Furnace Repair"
  - var ourService3 = "Furnace Replacement"

  - var leftClass = "furnace"
  
  - var ourText1 = "Every furnace will require an inspection, between the wood burning, cast iron furnaces and the all-electric, new furnaces there are a ton of problems that can happen in between. Our inspection will find all of these problems and produce a written quote for you to keep."
  - var ourText2 = "Once we sit down and go over the quote in our consultation, we will be able to update you on all the information you need before we begin the repairs. This can be as simple as fixing and replacing the wiring to changing some of the larger parts and pieces."
  - var ourText3 = "Sometimes a small repair will not be enough. If you are tasked with a complete furnace replacement, we are here to help you out. We work with numerous financial institutions that can offer to finance should you desire to take that route."
