extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "In Need of Heat Pump Services?"
  - var mainText1 = "Are you having problems with your heat pumps? It's not that uncommon of a problem to experience when you are trying to keep care of your home and ensure everything is running smoothly. But if you are looking to have your heat pumps fixed, you need to hire a company that you can trust."
  - var mainText2 = "We are one of the most honest HVAC companies in your area and have helped countless businesses and residences with their heat pump problems. Give us a call today and let's have a free quote for your heat pump repair."

  - var ourService1 = "Heat Pump Inspection"
  - var ourService2 = "Heat Pump Repair"
  - var ourService3 = "Heat Pump Replacement"

  - var leftClass = "hp"
  
  - var ourText1 = "The Heat Pump has many working parts that can become damaged over time. From the compressor to the wires that keep everything together, we will thoroughly inspect the pump to find any imperfections that might exist."
  - var ourText2 = "Once we have quoted and consulted about the problem, we will make our next step to repair the heat pump for your home. We can get most of the jobs completed within one day and will keep you updated on our process throughout."
  - var ourText3 = "Unfortunately, sometimes, things just don't stick together. If your heat pump is on its way out, give us a call. We can find the best heat pump for your and bundle the pricing with our installation charges so you can save more money and time."
