extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Do You Need Professional Heating Repair?"
  - var mainText1 = "Many people's homes revolve around internal heating. The days when they are the coldest are some of the most difficult to endure. This is why you need to have a functioning heating system for your home. Whether you have a boiler system or a radiator installed, we are the people to call to have either of them fixed."
  - var mainText2 = "We have been working in your area for several years and have thorough experience with the repair and maintenance of a central heating system. Call us with your problems today."

  - var ourService1 = "Heating System Inspection"
  - var ourService2 = "Heating System Repair"
  - var ourService3 = "Heating System Replacement"

  - var leftClass = "hsar"
  
  - var ourText1 = "We will first take our time and comprehensively inspect the heating system of your home. This is to ensure that all the parts are working the way they should and note any anomalies that exist within the system."
  - var ourText2 = "Next, we will present you with a written quote and consultation about how to proceed with the repairs as well as a rough estimate and timeline for the repairs. These can be altered and changed, but the quote stays as our price."
  - var ourText3 = "Sometimes, however, simple repairs will not do. If you have an old or compromised system, your best bet is to replace the system entirely. This is the surest way to have the services you are looking for out of your heating system."
