extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Auditing Your Home Energy Usage"
  - var mainText1 = "If you have noticed that your energy bill has been skyrocketing these past few weeks, then you should probably call for an audit of your home energy usage. This can be a result of anything, but more often than not it is linked to an overactive Air conditioning unit."
  - var mainText2 = "This is where we come in. We have been working as professional HVAC consultants for several years and have seen all sorts of problems with people's electric bills. But fret not, we are here to help you out and get your bill lower with your temperature as well!"

  - var ourService1 = "Wattage Inspection"
  - var ourService2 = "Electrical Repair"
  - var ourService3 = "Electrical Replacements"

  - var leftClass = "heaas"
  
  - var ourText1 = "The first thing that needs to happen is an inspection of the wattage. We check all of the ongoing devices in the home and determine how much electricity they all use. This makes it easier for us to narrow down the likely culprit."
  - var ourText2 = "From here we can do moderate to light electrical repair. If it's as simple as a switch that's stayed on forever and is pumping out energy to the air conditioning unit that is malfunctioning and pumping air constantly, we are the people to repair your system."
  - var ourText3 = "Finally, you might run into problems with your air conditioner that simply cannot be fixed. We will gladly replace your air conditioning unit for you, call us today and let's talk about financing."
