extends ../_serviceBase

block variables
  - var industryType = "residential"

  - var mainServicesH3 = "Need a Hand With Humidifying Your Home?"
  - var mainText1 = "Having too dry a climate can be very bad for people. Between skin conditions and a higher risk for dry throat-related illnesses, it is an issue for many Americans. Luckily if you have a humidifier on your property and need to ensure that it is running correctly, give us a call."
  - var mainText2 = "We have extensive experience in dealing with both humidifiers and dehumidifiers, if you want an expert company that is honest and fair, then give us a call and let's get to work."

  - var ourService1 = "Humidifier Inspection"
  - var ourService2 = "Humidifier Repair"
  - var ourService3 = "Humidifier Replacement"

  - var leftClass = "humidification"
  
  - var ourText1 = "A humidifier can be a bit of a complex machine. The ability to absorb and swap out air means that the pumps are in constant use and will often be the main source of problems in the unit. However, whether or not they need cleaning or repair is the reason why you call a professional."
  - var ourText2 = "After the inspection has finished, we will then give you a written quote with our price and consultation as to how to proceed from there. Once we've agreed, we then will continue with the repair of your system which shouldn't take longer than a day."
  - var ourText3 = "If it does take longer than a day, then chances are it will be easier just to replace your system outright. Luckily we have a large inventory of models we can produce for you, and we will install it for you as well."
