.customer-review-section
  .main-container
    .w-container
      .center-container
        h4
          strong CUSTOMER REVIEWS
      .customer-review-wrapper
        ._2by1-grid.reviews
          .horizontal-flex-wrapper
            img.testimonial-image(src="/hvac/images/photo-1565110426846-2f694d651aaf-855471b1-1920w.png" srcset="/hvac/images/photo-1565110426846-2f694d651aaf-855471b1-1920w-p-500.png 500w, /hvac/images/photo-1565110426846-2f694d651aaf-855471b1-1920w-p-800.png 800w, /hvac/images/photo-1565110426846-2f694d651aaf-855471b1-1920w.png 806w" sizes="(max-width: 991px) 70px, 90px" alt="")
            .customer-testimonial
              .testimonial-text
                em
                  | “They were very prompt, and educated us on all the options without any upsell, did a superb job on the installation, all at a very fair price.”
              h5 Eric Thomas
          .horizontal-flex-wrapper
            img.testimonial-image(src="/hvac/images/young-woman-portrait-outside-1920w.png" alt="")
            .customer-testimonial
              .testimonial-text
                em
                  | “They got the repair done right in record time the first time, but also was friendly, knowledgeable and went above and beyond.”
              h5 Becky Smitters