.green-section
  .main-container
    ._4by1-grid._w-big-blue-icon.w-container
      #w-node-ad9da3e89cef-a3e89cec.center-container.right-border._1
        .blue-icon.w-embed
          svg#1074464160.svg.u_1074464160(xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 70 70" data-icon-name="wp-user_profile_thin")
            g#1632925750
              path#1584383470(d="M60,60H10v-1c0-2.6,0.5-10.1,3-12.7c1.9-2,9.5-7.3,22.1-7.3c12.5,0,20.2,5.3,22.1,7.3c2.4,2.6,3,10,3,12.7V60z M12,58H58\
              c-0.1-3.6-0.9-8.7-2.4-10.3C55.5,47.6,49,41,35,41c-14,0-20.5,6.6-20.6,6.7C12.9,49.3,12.1,54.4,12,58z")
              path#1154195475(d="M35,36c-7.2,0-13-5.8-13-13s5.8-13,13-13s13,5.8,13,13S42.2,36,35,36z M35,12c-6.1,0-11,4.9-11,11s4.9,11,11,11\
              c6.1,0,11-4.9,11-11S41.1,12,35,12z")
        .big-blue-number 2,005
        div Clients
      #w-node-ad9da3e89cf5-a3e89cec.center-container.right-border._2
        .blue-icon.w-embed
          svg#1330733463.svg.u_1330733463(xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 100 100" data-icon-name="li-map-marker")
            g#1480059749
              path#1282332864(d="M69.1,25.3C64,20.2,57.2,17.4,50,17.4c-7.2,0-14,2.8-19.1,7.9c-10.5,10.5-10.5,27.6,0,38.2L50,82.6l19.1-19.1\
              C79.6,53,79.6,35.8,69.1,25.3z M67.6,62L50,79.6L32.4,62c-9.7-9.7-9.7-25.5,0-35.2c4.7-4.7,11-7.3,17.6-7.3\
              c6.7,0,12.9,2.6,17.6,7.3C77.3,36.5,77.3,52.3,67.6,62z")
              path#1755344526(d="M50,33c-6.3,0-11.4,5.1-11.4,11.4c0,6.3,5.1,11.4,11.4,11.4c6.3,0,11.4-5.1,11.4-11.4C61.4,38.1,56.3,33,50,33z M50,53.8\
              c-5.2,0-9.3-4.2-9.3-9.3c0-5.2,4.2-9.3,9.3-9.3c5.2,0,9.3,4.2,9.3,9.3C59.3,49.6,55.2,53.8,50,53.8z")
        .big-blue-number 18
        div Locations
      #w-node-ad9da3e89cfb-a3e89cec.center-container.right-border._3
        .blue-icon.w-embed
          svg#1082890527.svg.u_1082890527(xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 70 70" data-icon-name="wp-graduation_cap_thin")
            path#1757127411(d="M62.4,29.6l-27-12c-0.3-0.1-0.6-0.1-0.8,0l-27,12C7.2,29.7,7,30.1,7,30.5s0.2,0.8,0.6,0.9l6.4,2.8v5.1l-2,10.9\
            c-0.1,0.3,0,0.6,0.2,0.8c0.2,0.2,0.5,0.4,0.8,0.4h4c0.3,0,0.6-0.1,0.8-0.4c0.2-0.2,0.3-0.5,0.2-0.8l-2-10.9v-4.3l4,1.8v8.6\
            c0,3.5,7.4,7,15,7c7.6,0,15-3.5,15-7v-8.6l12.4-5.5c0.4-0.2,0.6-0.5,0.6-0.9S62.8,29.7,62.4,29.6z M14.2,49.5l0.8-4.4l0.8,4.4H14.2z\
            M48,45.5c0,1.7-5.6,5-13,5c-7.4,0-13-3.3-13-5v-7.7l12.6,5.6c0.1,0.1,0.3,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1L48,37.8V45.5z M35,41.4\
            l-17.5-7.8l10.9-4.2c0.5-0.2,0.8-0.8,0.6-1.3c-0.2-0.5-0.8-0.8-1.3-0.6l-12.7,4.9l-4.4-2L35,19.6l24.5,10.9L35,41.4z")
        .big-blue-number 166
        div Staff
      #w-node-ad9da3e89d01-a3e89cec.center-container._4
        .blue-icon.w-embed
          svg#1298348832.svg.u_1298348832(xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 100 100" data-icon-name="li_award")
            g#1797576747
              path#1686237655(d="M50,23.5c-11,0-19.9,8.9-19.9,19.9S39,63.3,50,63.3s19.9-8.9,19.9-19.9S61,23.5,50,23.5z M50,60.9\
              c-9.6,0-17.5-7.8-17.5-17.5C32.5,33.8,40.4,26,50,26s17.5,7.8,17.5,17.5C67.5,53.1,59.6,60.9,50,60.9z")
              path#1967036242(d="M88.3,73.7L75.6,61l2.2-1.3V51l4.4-7.6l-4.4-7.6v-8.7l-7.6-4.4l-4.4-7.6h-8.7l-7.6-4.4L42,15.2h-8.7l-4.4,7.6l-7.6,4.4v8.7\
              L17,43.4l4.4,7.6v8.7l2.7,1.6L11.7,73.7c-0.4,0.4-0.5,0.9-0.3,1.4s0.6,0.8,1.2,0.8h11.2v11.2c0,0.5,0.3,1,0.8,1.2\
              c0.2,0.1,0.3,0.1,0.5,0.1c0.3,0,0.6-0.1,0.9-0.4l16.2-16.2l7.5,4.3l7.6-4.4h0.6L74.2,88c0.2,0.2,0.6,0.4,0.9,0.4\
              c0.2,0,0.3,0,0.5-0.1c0.5-0.2,0.8-0.6,0.8-1.2V75.8h11.2c0.5,0,1-0.3,1.2-0.8C88.7,74.6,88.6,74.1,88.3,73.7z M25.1,73.4h-9.5\
              l10.7-10.7l2.6,1.5l4.4,7.6h5.4L26.3,84.1v-9.5C26.3,73.9,25.8,73.4,25.1,73.4z M56.5,69.2l-6.9,4l-6.9-4h-8l-4-6.9l-6.9-4v-8\
              l-4-6.9l4-6.9v-8l6.9-4l4-6.9h8l6.9-4l6.9,4h8l4,6.9l6.9,4v8l4,6.9l-4,6.9v8l-6.9,4l-4,6.9H56.5z M74.9,73.4\
              c-0.7,0-1.2,0.6-1.2,1.2v9.5L61.3,71.7h4.6l4.4-7.6l3.1-1.8l11,11L74.9,73.4L74.9,73.4z")
        .big-blue-number 22
        div Years