.fixed-section.res
  .main-container
    .center-container.w-container
      h3.main-services-h3.fixed
        strong Would You Like to Know More?
      .text-block.white
        | We have a simple mission, to become the best provider of HVAC services in the major metropolitan area. We have been working nonstop, providing excellent customer service at competitive prices. If you would like to know more about our services and our track record in your city, give us a call today!
      ._3by3-grid.in-main-services
        #w-node-0fe8439b63ae-439b63a5.blue-transparent-block
          div Why Choose Us?
        #w-node-0fe8439b63b1-439b63a5.white-block
          div Free Estimates
        #w-node-0fe8439b63b4-439b63a5.white-block
          div Available 24/7
        #w-node-0fe8439b63b7-439b63a5.white-block
          div Emergency Service
        #w-node-0fe8439b63ba-439b63a5.white-block
          div Highly Recommended
        #w-node-0fe8439b63bd-439b63a5.white-block
          div Licensed & Insured
        a#call-fixed.blue-transparent-block.w-node-0fe8439b63c0-439b63a5.w-inline-block(data-inject="phone" href=`tel:${data.phoneNumber}`)
          div
            | Call 
            span #{data.phoneNumber}
