body {
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Amaranth, sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Amaranth, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Amaranth, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Amaranth, sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
}

a {
  color: #2388da;
  text-decoration: none;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #2388da;
  box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.3);
}

.brand {
  font-family: Amaranth, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.nav-menu {
  padding-right: 30px;
  text-transform: uppercase;
}

.nav-container {
  display: -ms-grid;
  display: grid;
  height: 75px;
  min-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-link {
  padding-right: 11px;
  padding-left: 11px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 13px;
}

.nav-link.w--current {
  color: #fff;
}

.nav-link.dropdown {
  padding-right: 30px;
}

.dropdown-icon {
  margin-right: 10px;
}

.hero-header {
  padding: 100px 20px 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/heat-pump-replacing-LG5ANK2-2880w.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/heat-pump-replacing-LG5ANK2-2880w.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.main-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  clear: left;
}

.steel-blue-span {
  color: #2388da;
}

.blue-to-clear-button {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px 75px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 7px;
  background-color: #2388da;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 600;
}

.blue-to-clear-button:hover {
  background-color: transparent;
}

.div-block {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  margin-top: -100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-2 {
  padding: 20px;
  border-bottom: 2px solid #97c21c;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 14px -4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.div-block-2.middle {
  border-bottom-color: #2388da;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.section {
  padding: 20px 20px 60px;
}

.html-embed {
  width: 35px;
  height: 35px;
  color: #000;
}

.text-block {
  color: #666;
  font-size: 16px;
  line-height: 24px;
}

.text-block.white {
  color: #fff;
}

.text-block.margin-bottom {
  display: inline-block;
  margin-bottom: 15px;
}

.text-block.margin-top {
  display: inline-block;
  margin-top: 15px;
}

.center-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.center-container.with-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.center-container.with-padding.overlay {
  border-radius: 9px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.center-container.right-border {
  border-right: 1px solid silver;
}

.html-embed-2 {
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.html-embed-2:hover {
  color: #2388da;
}

.horizontal-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mission-left {
  width: 50%;
  background-image: url('../images/installation-of-air-duct-outside-the-building-P5SZRQE-2880w.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  width: 50px;
  height: 2px;
  margin-bottom: 20px;
  background-color: #000;
}

.line.green {
  background-color: #97c21c;
}

.line.green.top-margin {
  margin-top: 20px;
}

.line.green.contact {
  width: 75px;
  height: 3px;
  margin-top: 20px;
}

.line.green.center {
  width: 75px;
  margin-right: auto;
  margin-left: auto;
}

.line.white {
  background-color: #fff;
}

.line.white.top-margin {
  margin-top: 20px;
}

.line.blue {
  background-color: #2388da;
}

.line.blue.longer {
  width: 150px;
  height: 3px;
}

.mission-right {
  width: 50%;
  padding: 50px 20px 50px 40px;
  background-color: rgba(35, 136, 218, 0.1);
}

.white-to-blue-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 40px;
  border: 3px solid #2388da;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #2388da;
  font-weight: 600;
}

.white-to-blue-button:hover {
  background-color: #2388da;
  color: #fff;
}

.white-to-blue-button.grid-absolute {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 15px;
  margin-right: 32px;
  margin-left: 32px;
  padding-right: 40px;
  padding-left: 40px;
}

.white-to-blue-button.more-top-margin {
  margin-top: 20px;
}

.hero-container {
  color: #fff;
}

.div-block-4 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-5 {
  overflow: hidden;
  width: 100%;
  padding: 15px 15px 25px;
  border-bottom: 2px solid #2388da;
  background-color: rgba(35, 136, 218, 0.1);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.fixed-section {
  padding: 120px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/woman-switching-a-digital-thermostat-PGBK3LP-2880w.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/woman-switching-a-digital-thermostat-PGBK3LP-2880w.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
}

.fixed-section.no-overlay {
  background-image: url('../images/woman-switching-a-digital-thermostat-PGBK3LP-2880w.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fixed-section.residential {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/female-hand-adjusting-temperature-with-dial-on-VG4EMC8-2880w.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/female-hand-adjusting-temperature-with-dial-on-VG4EMC8-2880w.png');
}

.fixed-section.commercial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/photo-1527928026657-38e53124b63f.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/photo-1527928026657-38e53124b63f.png');
}

.fixed-section.res {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/installation-of-air-duct-outside-the-building-P5SZRQE-2880w.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/installation-of-air-duct-outside-the-building-P5SZRQE-2880w.png');
}

.about-header {
  width: 100%;
  padding: 50px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/contractor-fitting-ceiling-vent-PZP5ZXM-2880w.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/contractor-fitting-ceiling-vent-PZP5ZXM-2880w.png');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

._590-width {
  max-width: 590px;
}

.hero-heading-1 {
  font-size: 50px;
}

.green-section {
  padding: 50px 40px;
  background-color: rgba(151, 194, 28, 0.1);
}

.green-section.no-padding {
  padding: 0px;
}

.big-changes-left {
  width: 50%;
  border-radius: 6px;
  background-image: url('../images/heating-and-cooling-technician-KTQEGHZ-2880w.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.4);
}

.big-changes-right {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
}

._8to4-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  -ms-grid-columns: 8fr 4fr;
  grid-template-columns: 8fr 4fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._8to4-grid.about {
  margin-top: 10px;
}

.who-we-are-right {
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(151, 194, 28, 0.1);
  box-shadow: 1px 1px 14px -4px rgba(0, 0, 0, 0.3);
}

.phone-number-text-link {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.div-block-6 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.div-block-6.flex-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blue-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #2388da;
}

.blue-icon.margin-right {
  margin-right: 15px;
}

._4by1-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.big-blue-number {
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: #2388da;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

.customer-review-section {
  padding: 39px 20px;
}

._2by1-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.testimonial-image {
  width: 90px;
  height: 90px;
  min-height: 90px;
  min-width: 90px;
  margin-right: 20px;
  border-radius: 50%;
}

.testimonial-text {
  font-family: ABeeZee, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.customer-review-wrapper {
  width: 925px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.residential-header {
  width: 100%;
  padding: 50px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/heatingsystemrepair.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/heatingsystemrepair.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.hero-heading-2 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.normal-weight {
  font-weight: 400;
}

._500-width {
  max-width: 500px;
}

.grid-wrapper {
  width: 100%;
  margin-top: 10px;
}

._3by4-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.major-grid-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 9px;
  box-shadow: 1px 1px 12px -2px rgba(0, 0, 0, 0.15);
}

.major-grid-thumbnail {
  width: 100%;
  height: 200px;
}

.major-grid-card-bottom {
  position: relative;
  height: 100%;
  padding: 20px 20px 110px;
  border-bottom: 5px solid #2388da;
}

._750-width {
  width: 750px;
}

._50-40-section {
  padding: 50px 40px;
}

.residential-bottom-right {
  width: 50%;
  border-radius: 6px;
  background-image: url('../images/photo-1449844908441-8829872d2607.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.4);
}

.residential-bottom-left {
  width: 50%;
  padding: 50px 40px;
}

.commercial-header {
  width: 100%;
  padding: 50px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/photo-1432625590194-6a6d9038f6d2.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/photo-1432625590194-6a6d9038f6d2.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.main-services-header {
  padding: 70px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
}

.main-services-header.residential {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../images/heat-pump-replacing-LG5ANK2-2880w.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/heat-pump-replacing-LG5ANK2-2880w.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.main-services-header.commercial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/ventilation-pipes-of-an-air-condition.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ventilation-pipes-of-an-air-condition.png');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
}

.hero-heading-3 {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-services-h3 {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #195f97;
}

.main-services-h3.fixed {
  margin-bottom: 20px;
  color: #fff;
  font-size: 27px;
}

.main-services-h3.our-services {
  margin-bottom: 20px;
}

.blue-section {
  padding: 80px 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 136, 218, 0.1)), to(rgba(35, 136, 218, 0.1)));
  background-image: linear-gradient(180deg, rgba(35, 136, 218, 0.1), rgba(35, 136, 218, 0.1));
}

.black-to-blue-check {
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.black-to-blue-check:hover {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
  color: #2388da;
}

.blue {
  color: #2388da;
}

._3by3-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

._3by3-grid.in-main-services {
  margin-top: 40px;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
}

.blue-transparent-block {
  padding: 20px 7px;
  background-color: rgba(35, 136, 218, 0.8);
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.white-block {
  padding: 20px 7px 20px 46px;
  background-color: #fff;
  background-image: url('../images/circular-check-button-1920w.png');
  background-position: 15px 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  color: #666;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.top-footer {
  border-top: 2px solid #fff;
  background-color: #181818;
  color: #fff;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  padding-top: 25px;
  padding-bottom: 25px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  -ms-grid-columns: 4fr auto 4fr;
  grid-template-columns: 4fr auto 4fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.white-footer-line {
  width: 85%;
  height: 2px;
  background-color: #fff;
}

.footer-social-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  padding: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50%;
}

.social-icons {
  width: 17px;
  height: 17px;
}

.bold {
  font-weight: 700;
}

.our-services-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.our-services-left {
  width: 50%;
  background-image: url('../images/heat-pump-replacing-LG5ANK2-2880w.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-services-left.aci {
  background-image: url('../images/AIRCONDITIONINGINSTALLATION.png');
}

.our-services-left.bdt {
  background-image: url('../images/BlowerDoorRepair.png');
}

.our-services-left.boilers {
  background-image: url('../images/BOILERS.png');
}

.our-services-left.ca {
  background-image: url('../images/centralair.png');
}

.our-services-left.dehumidify {
  background-image: url('../images/dehumidifierrepair.png');
}

.our-services-left.dc {
  background-image: url('../images/DuctCleaning.png');
}

.our-services-left.furnace {
  background-image: url('../images/FurnaceRepair.png');
}

.our-services-left.hp {
  background-image: url('../images/heatpumprepair.png');
}

.our-services-left.hsar {
  background-image: url('../images/heatingsystemrepair.png');
}

.our-services-left.heaas {
  background-image: url('../images/homeenrgy.png');
}

.our-services-left.humidification {
  background-image: url('../images/HUMIDIFICATION2.png');
  background-position: 35% 0%;
}

.our-services-left.adsss {
  background-image: url('../images/AirDistributionSystem-2880w.png');
}

.our-services-left.em {
  background-image: url('../images/ENERGYMANAGEMENTANDRECOVERYCONTROLS-2880w.png');
}

.our-services-left.ckv {
  background-image: url('../images/commercialkitcheninstallation-2880w.png');
}

.our-services-left.aru {
  background-image: url('../images/airrotationunitinstallation-2880w.png');
}

.our-services-left.cct {
  background-image: url('../images/CHILLERSANDCOOLINGTOWERS-2880w.png');
}

.our-services-left.cr {
  background-image: url('../images/refrigeratorrepair-2880w.png');
}

.our-services-left.gshp {
  background-image: url('../images/heatpumpinstallation-2880w.png');
}

.our-services-left.hwsb {
  background-image: url('../images/BoilerInstallation-2880w.png');
}

.our-services-left.iaqe {
  background-image: url('../images/airqualityrepair-2880w.png');
}

.our-services-left.ie {
  background-image: url('../images/ice-2880w.png');
}

.our-services-left.pav {
  background-image: url('../images/PRODUCTAREAVENTILATION-2880w.png');
}

.our-services-left.hc {
  background-image: url('../images/humiditycontrolrepair-2880w.png');
  background-position: 50% 50%;
}

.our-services-right {
  width: 50%;
  padding: 50px 40px;
}

.main-services-h4 {
  margin-top: 25px;
  color: #195f97;
}

.contact-header {
  width: 100%;
  padding: 75px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/man-on-phone.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/man-on-phone.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

._7to5-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 16px;
  -ms-grid-columns: 7fr 5fr;
  grid-template-columns: 7fr 5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._7to5-grid.contact-grid {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.contact-text-field {
  max-width: 100%;
  min-height: 40px;
  border-style: none none solid;
  border-width: 0px 0px 2px;
  border-color: #fff #fff #2388da;
}

.hours-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.no-top-margin {
  margin-top: 0px;
}

.div-block-7 {
  display: block;
  width: 100%;
  height: 250px;
  background-image: url('../images/woman-switching-a-digital-thermostat-PGBK3LP-2880w.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-7.commercial {
  background-image: url('../images/110487506_m-1280w.png');
}

.black-line-link {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.service-type-link-block {
  margin-bottom: 20px;
}

.service-type-link-block:hover {
  color: #000;
}

.div-block-8 {
  position: relative;
  margin-top: -50px;
  margin-bottom: -90px;
  padding: 50px 40px;
  background-color: #fff;
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.bottom-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
}

.bottom-footer-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-images {
  height: 80px;
}

.footer {
  position: relative;
  box-shadow: 0 -9px 15px -5px rgba(0, 0, 0, 0.3);
}

.contact-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2388da;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.contact-social-link:hover {
  border: 1px none #000;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.contact-social-icon {
  width: 20px;
  height: 20px;
}

.footer-link {
  display: block;
  color: #fff;
}

._20px-spacer {
  width: 100%;
  height: 20px;
}

.dropdown-link {
  text-transform: none;
}

.dropdown-link:hover {
  font-weight: 500;
}

.dropdown-link.all {
  background-color: rgba(35, 136, 218, 0.65);
  color: #fff;
}

.dropdown-list.w--open {
  left: -100px;
  overflow: hidden;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(35, 136, 218, 0.5);
  border-radius: 6px;
  background-color: #fafafa;
}

.why-choose-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.why-choose-card {
  overflow: hidden;
  border-radius: 4px;
  background-color: #2388da;
  box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, 0.3);
}

.why-choose-thumbnail {
  height: 276px;
  border-bottom: 3px solid #fff;
  background-image: url('../images/trainees-working-on-an-air-conditioning-unit-P4CCN5Q-1280w.png');
  background-position: 50% 50%;
  background-size: cover;
}

.why-choose-thumbnail.repair {
  background-image: url('../images/contractor-fitting-ceiling-vent-PZP5ZXM-2880w.png');
}

.why-choose-thumbnail.replace {
  background-image: url('../images/heat-pump-replacing-LG5ANK2-2880w.png');
}

.div-block-9 {
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  color: #fff;
}

@media screen and (max-width: 991px) {
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .brand {
    font-size: 28px;
    line-height: 30px;
  }
  .nav-menu {
    padding-right: 0px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 136, 218, 0.7)), to(rgba(35, 136, 218, 0.7)));
    background-image: linear-gradient(180deg, rgba(35, 136, 218, 0.7), rgba(35, 136, 218, 0.7));
  }
  .nav-container {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }
  .section {
    padding-bottom: 40px;
  }
  .text-block {
    font-size: 15px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #97c21c;
  }
  .who-we-are-right {
    padding: 15px 15px 40px;
  }
  ._2by1-grid {
    grid-column-gap: 24px;
  }
  .testimonial-image {
    width: 70px;
    height: 70px;
    min-height: 70px;
    min-width: 70px;
  }
  .customer-testimonial {
    margin-top: 25px;
  }
  .testimonial-text {
    font-size: 14px;
  }
  .customer-review-wrapper {
    width: auto;
  }
  .major-grid-thumbnail {
    height: 160px;
  }
  ._750-width {
    width: auto;
  }
  ._3by3-grid.in-main-services {
    grid-column-gap: 16px;
    grid-row-gap: 24px;
  }
  .blue-transparent-block {
    font-size: 15px;
  }
  .white-block {
    padding-left: 42px;
    background-size: 16px;
    font-size: 15px;
  }
  .icon-wrapper {
    border-width: 2px;
  }
  .social-icons {
    width: 15px;
    height: 15px;
  }
  .our-services-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .our-services-left {
    width: 100%;
    height: 350px;
  }
  .our-services-right {
    width: 100%;
  }
  ._7to5-grid.contact-grid {
    -ms-grid-columns: 7fr 5fr;
    grid-template-columns: 7fr 5fr;
  }
  .contact-form {
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .hours-wrapper {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }
  .div-block-8 {
    margin-bottom: -70px;
  }
  .dropdown-list.w--open {
    left: 0px;
  }
  .why-choose-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
  }
  .why-choose-card {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .why-choose-thumbnail {
    width: 175px;
    height: 175px;
    border-right: 3px solid #fff;
    border-bottom-style: none;
    border-bottom-width: 0px;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    font-size: 23px;
  }
  .nav-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .div-block-2 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .section {
    padding-bottom: 30px;
  }
  .center-container {
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .center-container.right-border._1 {
    border-bottom: 1px solid silver;
  }
  .center-container.right-border._2 {
    border-bottom: 1px solid silver;
    border-right-width: 0px;
  }
  .horizontal-flex-wrapper.about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .horizontal-flex-wrapper.home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .horizontal-flex-wrapper.res {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .mission-left {
    width: 95%;
    height: 300px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    border-radius: 7px;
    box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.3);
  }
  .mission-right {
    width: auto;
  }
  .div-block-4 {
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .hero-heading-1 {
    font-size: 40px;
  }
  .big-changes-left {
    width: 100%;
    height: 400px;
  }
  .big-changes-right {
    width: auto;
    padding: 10px;
  }
  ._8to4-grid.about {
    grid-row-gap: 32px;
    -ms-grid-columns: 8fr;
    grid-template-columns: 8fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  ._4by1-grid {
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  ._4by1-grid._w-big-blue-icon {
    grid-row-gap: 0px;
  }
  ._2by1-grid.reviews {
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .customer-testimonial {
    margin-top: 0px;
  }
  ._3by4-grid.main {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .residential-bottom-right {
    width: 100%;
    height: 300px;
  }
  .residential-bottom-left {
    width: 100%;
  }
  ._3by3-grid.in-main-services {
    grid-row-gap: 8px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
  .footer-grid {
    padding-right: 20px;
    padding-left: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .white-footer-line {
    display: none;
  }
  .footer-social-div {
    padding-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 1px solid #fff;
  }
  .icon-wrapper {
    padding: 10px;
  }
  .social-icons {
    width: 20px;
    height: 20px;
  }
  ._7to5-grid.contact-grid {
    -ms-grid-columns: 7fr;
    grid-template-columns: 7fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .contact-form {
    margin-top: 31px;
  }
  .hours-wrapper {
    margin-top: 0px;
  }
  .contact-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .bottom-footer-grid {
    padding-right: 15px;
    padding-left: 15px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .why-choose-grid {
    grid-row-gap: 30px;
  }
  .why-choose-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .why-choose-thumbnail {
    width: 100%;
    height: 200px;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 35px;
  }
  .brand {
    font-size: 20px;
    line-height: 24px;
  }
  .nav-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-header {
    padding-top: 50px;
    text-align: center;
  }
  .div-block-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .section {
    padding: 10px 15px 15px;
  }
  .text-block {
    font-size: 15px;
  }
  .center-container.with-padding.overlay {
    padding-right: 15px;
    padding-left: 15px;
  }
  .center-container.right-border._1 {
    border: 0px solid #000;
  }
  .center-container.right-border._2 {
    border: 0px solid #000;
  }
  .center-container.right-border._3 {
    border-right-style: none;
    border-right-width: 0px;
  }
  .horizontal-flex-wrapper.res {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .mission-left {
    margin-top: 15px;
  }
  .line.blue.longer {
    margin-top: 5px;
  }
  .mission-right {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
  }
  .fixed-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-heading-1 {
    font-size: 35px;
  }
  .green-section {
    padding: 20px 12px;
  }
  ._8to4-grid.about {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .blue-icon {
    width: 40px;
    height: 40px;
  }
  ._4by1-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .big-blue-number {
    font-size: 30px;
    line-height: 36px;
  }
  .customer-review-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-heading-2 {
    font-size: 30px;
  }
  ._3by4-grid.main {
    margin-right: 10px;
    margin-left: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .major-grid-thumbnail {
    height: 200px;
  }
  ._50-40-section {
    padding: 10px;
  }
  .residential-bottom-left {
    padding: 20px 20px 20px 30px;
  }
  .hero-heading-3 {
    font-size: 30px;
  }
  .blue-section {
    padding: 20px;
  }
  .footer-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .footer-social-div {
    padding-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .icon-wrapper {
    margin-right: 6px;
    margin-left: 6px;
    padding: 9px;
  }
  .social-icons {
    width: 15px;
    height: 15px;
  }
  .our-services-right {
    padding: 12px 12px 30px;
  }
  .contact-form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .hours-wrapper {
    margin-top: 20px;
  }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-8 {
    margin-top: -35px;
    margin-bottom: -40px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .bottom-footer-grid {
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .contact-social-link {
    width: 35px;
    height: 35px;
  }
  .contact-social-icon {
    width: 17px;
    height: 17px;
  }
}

#w-node-414115545919-f614ff30 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-67b4feaab4c6-f614ff30 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-2d917c164c2e-f614ff30 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-91b89f3ef2a3-9f3ef29f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-91b89f3ef2aa-9f3ef29f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-91b89f3ef2c7-9f3ef29f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-91b89f3ef2d5-9f3ef29f {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-91b89f3ef2e0-9f3ef29f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-91b89f3ef2e3-9f3ef29f {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

#w-node-91b89f3ef2e4-9f3ef29f {
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-91b89f3ef2e5-9f3ef29f {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-91b89f3ef2e6-9f3ef29f {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-91b89f3ef2e7-9f3ef29f {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-91b89f3ef2e8-9f3ef29f {
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-ad9da3e89cef-a3e89cec {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-ad9da3e89cf5-a3e89cec {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-ad9da3e89cfb-a3e89cec {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-ad9da3e89d01-a3e89cec {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-5fbf44d58060-44d5805e {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-5fbf44d58063-44d5805e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-0965ea1b2319-933a3dd2 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-375aa808e538-933a3dd2 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-0fe8439b63ae-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-0fe8439b63b1-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-0fe8439b63b4-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-0fe8439b63b7-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-0fe8439b63ba-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-0fe8439b63bd-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#call-fixed.w-node-0fe8439b63c0-439b63a5 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-97b58625c261-8625c25e {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-97b58625c265-8625c25e {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-97b58625c269-8625c25e {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-97b58625c26d-8625c25e {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d1360b584e2d-26b92b40 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-85f188771336-26b92b40 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-bd8c0b4c85aa-26b92b40 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-637c74fad2c9-26b92b40 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-5e03dcafb75e-26b92b40 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-6c500d097420-26b92b40 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-d30a65c9354b-26b92b40 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  #w-node-c29a14abebdf-f614ff30 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-67b4feaab4c8-f614ff30 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-2d917c164c30-f614ff30 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-5fbf44d58080-44d5805e {
    -ms-grid-column-align: end;
    justify-self: end;
  }
  #w-node-375aa808e538-933a3dd2 {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  #w-node-d1360b584e2d-26b92b40 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  #w-node-85f188771336-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-bd8c0b4c85aa-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-637c74fad2c9-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
  #w-node-5e03dcafb75e-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
  #w-node-6c500d097420-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-91b89f3ef2a3-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }
  #w-node-91b89f3ef2aa-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
  #w-node-91b89f3ef2c7-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
  #w-node-91b89f3ef2d6-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }
  #w-node-91b89f3ef2e0-9f3ef29f {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-91b89f3ef2e4-9f3ef29f {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-91b89f3ef2e5-9f3ef29f {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-91b89f3ef2e8-9f3ef29f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-ad9da3e89cf5-a3e89cec {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-ad9da3e89cfb-a3e89cec {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-ad9da3e89d01-a3e89cec {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-375aa808e538-933a3dd2 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0fe8439b63ae-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0fe8439b63b1-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0fe8439b63b4-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0fe8439b63b7-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0fe8439b63ba-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0fe8439b63bd-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #call-fixed.w-node-0fe8439b63c0-439b63a5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-97b58625c261-8625c25e {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-97b58625c265-8625c25e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-97b58625c269-8625c25e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-97b58625c26d-8625c25e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-d1360b584e2d-26b92b40 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-5103fa7ac762-26b92b40 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-91b89f3ef2a3-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-91b89f3ef2aa-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-91b89f3ef2c7-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-91b89f3ef2d6-9f3ef29f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-91b89f3ef2e4-9f3ef29f {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
  #w-node-91b89f3ef2e5-9f3ef29f {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-91b89f3ef2e7-9f3ef29f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #w-node-91b89f3ef2e8-9f3ef29f {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  #w-node-637c74fad2c9-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-5e03dcafb75e-26b92b40 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

